# Copy this file as .env in your agent's folder
GOOGLE_API_KEY=Set the Gemini API Key here

LANGFUSE_PUBLIC_KEY=pk-lf-adk-playground
LANGFUSE_SECRET_KEY=sk-lf-adk-playground
LANGFUSE_BASE_URL=http://localhost:3033
