# Copy this file as .env in your agent's folder
GOOGLE_API_KEY=Set the Gemini API Key here

OTEL_TRACES_EXPORTER=otlp
OTEL_METRICS_EXPORTER=none
OTEL_LOGS_EXPORTER=none

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://127.0.0.1:5001/v1/traces
OTEL_EXPORTER_OTLP_HEADERS=x-mlflow-experiment-id=Google-ADK
